<h1>Colors</h1>

<h2>RGBA - "Red Green Blue Alpha channel"</h2>
<ul class="RGBA">
	<li>"RGB"</li>
		<ul>
			<li>Values range from 0 to 255</li>
			<li>0 is no color and 255 is all the color</li>
			<li>(This isn't arbitrary, there are 256 possibilities to configure eight bits)
			</li>
			<li>Due to these properties:</li>
				<ul>
					<li>rgb(0,0,0) is <span class="black">black</span></li>
					<li>rgb(255,255,255) is <span class="white">white</span></li>
				</ul>
		</ul>
	<li>"A"</li>
		<ul>
			<li>Alpha channel allows for alpha compositing and this is the process of combining an image with its background</li>
			<li>Values range from 0 to 1</li>
			<li>0 is completely transparent and 1 is completely opaque</li>
			<li>Due to these properties:</li>
				<ul>
					<li>rgba(0,0,255,1) is <span class="solid_blue">solid blue</span></li>
					<li>rgba(0,0,255,0.6) is <span class="trans_white">transparent blue</span></li>
					<li>rgba(0,0,255,0.4) is <span class="very_trans_blue">even more transparent</span></li>
				</ul>
		</ul>
	<li>Support</li>
		<ul>
			<li>Plays well with all modern browsers and is 84.89% globally supported</li>
			<li>Renders in:</li>
				<ul>
					<li>Chrome (any version)</li>
					<li>Mozilla Firefox 3.x and up</li>
					<li>Safari 3.x and up</li>
					<li>Mobile Safari</li>
					<li>Opera 10.x and up</li>
					<li>Internet Explorer 9 Preview</li>
					<li>BlackBerry Storm Browser</li>
				</ul>
			<li>Renders solid color in:</li>
				<ul>
					<li>Mozilla Firefox 2.x and down</li>
					<li>Safari 2.x and down</li>
					<li>Opera 9.x and down</li>
					<li>Internet Explorer 6, 7, and 8</li>
					<li>Netscape</li>
				</ul>
			<li>Renders no color in:</li>
				<ul>
					<li>Internet Explorer 5.5 and down</li>
					<li>(Fortunately very few users continue to use this version)
				</ul>
			<li>Trick to render transparency while avoiding no color rendering in IE5.5 is:</li>
				<ul>
					<li>style="background: rgb(250, 0, 0); background: rgba(250, 0, 0, 0.5);</li>
            <pre>
              <ol>
                <li>
              <code>
              .color-block { 
                  background:transparent;
                  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000); 
                  zoom: 1;
                    } 
            </code>
            </li>
              </ol>
          </pre>
				</ul>
		</ul>
</ul>

<<<<<<< HEAD

<h2>HEX</h2>
<h2>HSLA</h2>
<ul><pre><code>
#some-element {
background-color: hsla(170, 50%, 45%, 1);
}
</code></pre></ul>
=======

<h2>HEX: hexadecimal</h2>

<p class="HEX">Hex is a way of describing colors, it is a six-digit hexadecimal number starting with #, with each digit going from 0-F. The digits are read in pairs of two, and represent the red, green, and blue values, respectively.</p>

<h2>HSLA (Stands for Hue Saturation Lightness alpha)</h2>
<ul class="HSLA">
	<li>Hsla resembles RGBA</li> 
	<li>Declares colors by looking at the color wheel.</li> 
	<li>Saturation expressed as a percentage.</li> 
	<li>Lightness is also expressed as a percentage.</li>
	</li>Supported by any browser that supports RGBA</li>
</ul>
<pre><code>
	Example: Hex 
	p  {
		color: #25547f;
	   }

	Example: RGBA
	p {
		color: rgba(37, 84, 127, 1);
	  }

	Example: HSLA:
	p {
		color: hsla(209, 55%, 32%, 1);
      }
</code></pre>

<h2>Which one should you use?</h2>
<p>HEX - Very attractive because it’s short and simple to remember and type out. But HEX might not work for you in all situations, which is when you may wish to consider one of the other two methods.</p>

<p>RGBA is well - known and supported in older versions of IE (9 and older). It has an additional field for alpha values which come in handy when you want to work with opacity.</p>

<p>HSLa is a newer, more intuitive way to work with colors. Unlike RGBA where we have to mesh some numbers around to get the color we want. HSLa also includes an alpha value for opacity.</p>

<p>**Note** Since HSLa is newer it isn’t supported by older versions of IE. You may need to rely on some fallback codes and this could mean bringing in RGBA or HEX.</p>

<p>Typical fallback code for an HSLa statement</p>

<pre><code>
	p {
	color:	#25547f;
	color: 	hsla(209, 55%, 32%, 1);
 }
</code>
</pre>

<h2>Color tools</h2>
<p><a href="http://colorschemedesigner.com/">colorschemedesigner</a> - Allows you to use RGB or HEX colors and find color compliments, etc.</p>

<p><a href="http://www.workwithcolor.com/hsl-color-picker-01.htm">Work With Color</a> - Can also see the different translations from RGB to HEX to HLSA here:</a></p>

>>>>>>> 85e994d9f50e4e35dae66c596f6b884474fb8e15
