<h1>Colors</h1>

<h2>RGBA</h2>
<p>

</p>
<h2>HEX</h2>
<p>

</p>

<h3>HSLA (Stands for Hue Saturation Lightness alpha)</h3>
<p>
 <ol>
	<li>Hsla resembles RGBA</li> 

	<li>Declares colors by looking at the color wheel.</li> 

	<li>Saturation expressed as a percentage.</li> 

	<li>Lightness is also expressed as a percentage.</li>

	</li>Supported by any browser that supports RGBA</li>
</ol>

</p>
