<h1>Colors</h1>

<h2>RGBA</h2>
<<<<<<< HEAD
<p>

=======
<p>"Red Green Blue Alpha transparency"
	<ul>
		<li>RGB</li>
		<ul>
			<li>Values range from 0 to 255</li>
			<li>0 is no color and 255 is all the color</li>
			<li>(This isn't arbitrary, there are 256 possibilities to configure eight bits)</li>
			<li>Due to these properties:</li>
			<ul>
				<li>rgb(0,0,0) is <span class="black">black</span></li>
				<li>rgb(255,255,255) is <span class="white">white</span></li>
			</ul>
		</ul>
		<li>A</li>
		<ul>
			<li>Values range from 0 to 1</li>
			<li>0 is completely transparent and 1 is completely opaque</li>
			<li>Due to these properties:</li>
			<ul>
				<li>rgb(0,0,255,1) is <span class="solid_blue">solid blue</span></li>
				<li>rgb(0,0,255,0.6) is <span class="trans_white">transparent blue</span></li>
				<li>rgb(0,0,255,0.4) is <span class="very_trans_blue">even more transparent</span></li>
			</ul>
		</ul>
		<li>RGBA is 84.89% globally supported</li>
	</ul>
>>>>>>> 251d3e4bd31b50b509b5492282a0118ef12ec405
</p>
<h2>HEX</h2>
<p>

</p>
<h2>HSLA</h2>
<p>

</p>
<<<<<<< HEAD

<pre><code>
#some-element {
background-color: hsla(170, 50%, 45%, 1);
}
</code></pre>
=======
>>>>>>> 251d3e4bd31b50b509b5492282a0118ef12ec405
