<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/style.css" rel="stylesheet" type="text/css">
		<title>Colors</title>
	</head>
	<body>
		<div class="content">
		<p><%= yield %></p>
	</div>
	</body>
</html>